<footer>
  <a href="https://github.com/AndyT2503/angular-conduit-signals" target="_blank"
    ><i class="fa-brands fa-github me-2"></i>Fork on Github</a
  >
  <div class="social-footer">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/200px-Facebook_f_logo_%282019%29.svg.png"
      alt=""
      style="width: 30px; height: 30px; margin-left: 15px; cursor: pointer; background: white; padding: 5px; border-radius: 4px;"
    />
  </div>
</footer>
